<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Income</title>
    <link rel="stylesheet" href="/nav.css" />
    <link rel="stylesheet" href="/income_new.css" />
  </head>
  <body>
    <div class="nav">
      <h1>Money Manager</h1>
      <div class="link">
        <a href="/">Home</a><a href="/income">Income</a
        ><a href="/expenditure">Expenditure</a>
      </div>
    </div>
    <div class="new_form_inc">
      <h1>Add Income</h1>
      <div>
        <form method="post" action="/income">
          <input name="amount" type="number" placeholder="Enter amount" />
          <br />
          <button>Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
