<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>view</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/expenditure_home.css" />
    <link rel="stylesheet" href="/nav.css" />
  </head>
  <body>
    <div class="nav">
      <h1>Money Manager</h1>
      <div class="link">
        <a href="/">Home</a><a href="/income">Income</a
        ><a href="/expenditure">Expenditure</a>
      </div>
    </div>
    <form action="/expenditure">
      <button class="mybut go_back">Go back</button>
    </form>
    <h1 class="detail_name"><%=detail.name%></h1>
    <br />
    <br />
    <div class="exp">
      <div class="amount">
        <p>₹<%=detail.amount%></p>
      </div>
      <!-- <hr /> -->
    </div>
    <br />
    <hr />
    <br />
    <div class="des exp">
      <p><%=detail.description%></p>
    </div>

    <br />
  </body>
</html>
